awscli==1.16.117
awsebcli==3.14.13
bleach==3.1.0
blessed==1.15.0
botocore==1.12.107
cached-property==1.5.1
cement==2.8.2
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.9
docker==3.7.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
future==0.16.0
idna==2.7
jmespath==0.9.4
jsonschema==2.6.0
pathspec==0.5.9
pkginfo==1.5.0.1
pyasn1==0.4.5
Pygments==2.3.1
PySimpleGUI==3.10.3
python-dateutil==2.8.0
PyYAML==3.13
readme-renderer==24.0
requests==2.20.1
requests-toolbelt==0.9.1
rsa==3.4.2
s3transfer==0.2.0
semantic-version==2.5.0
six==1.11.0
termcolor==1.1.0
texttable==0.9.1
tqdm==4.31.1
twine==1.13.0
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.55.0
