awscli==1.16.117
bleach==3.1.0
botocore==1.12.107
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.9
docutils==0.14
idna==2.8
jmespath==0.9.4
pkginfo==1.5.0.1
pyasn1==0.4.5
Pygments==2.3.1
PySimpleGUI==3.10.3
python-dateutil==2.8.0
PyYAML==3.13
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
tqdm==4.31.1
twine==1.13.0
urllib3==1.24.1
webencodings==0.5.1
